---
import SliderItem from '../components/SliderItem.astro';
import SliderProgressBar from '../components/SliderProgressBar.astro';

const { images, labels } = Astro.props;
---

<div class="slider-wrap">
  <div class="slider">
    <div class="slider-inner">
      <SliderItem image={images[0]} label={labels[0]} />
      <SliderItem image={images[1]} label={labels[1]} />
      <SliderItem image={images[2]} label={labels[2]} />
      <SliderItem image={images[3]} label={labels[3]} />
      <SliderItem image={images[4]} label={labels[4]} />
      <SliderItem image={images[5]} label={labels[5]} />
      <SliderItem image={images[6]} label={labels[6]} />
      <SliderItem image={images[7]} label={labels[7]} />
    </div>
  </div>
  <!-- <SliderProgressBar /> -->
</div>

<script>
  const slider = document.querySelector('.slider-inner');
  const progressBar = document.querySelector('.prog-bar-inner');

  let sliderGrabbed = false;

  function getScrollPercentage() {
    return (
      (slider.parentElement.scrollLeft /
        (slider.parentElement.scrollWidth - slider.parentElement.clientWidth)) *
      100
    );
  }

  slider.addEventListener('mousedown', () => {
    sliderGrabbed = true;
    slider.style.cursor = 'grabbing';
  });

  slider.addEventListener('mouseup', () => {
    sliderGrabbed = false;
    slider.style.cursor = 'grab';
  });

  slider.addEventListener('mouseleave', () => {
    sliderGrabbed = false;
    slider.style.cursor = 'grab';
  });

  slider.addEventListener('mousemove', (e) => {
    if (sliderGrabbed) {
      slider.parentElement.scrollLeft -= e.movementX;
    }
  });

  //   slider.addEventListener("wheel", (e) => {
  //     e.preventDefault();
  //     slider.parentElement.scrollLeft += e.deltaY;
  //   });

  // slider.parentElement.addEventListener('scroll', (e) => {
  //   console.log(getScrollPercentage());
  //   progressBar.style.width = `${getScrollPercentage()}%`;
  // });
</script>

<style>
  .slider-wrap {
    position: absolute;
    top: 35%;
    left: 5%;
    width: 95%;
    height: 260px;
    cursor: grab;
  }

  .slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .slider::-webkit-scrollbar {
    display: none;
  }

  .slider-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2100px;
    display: flex;
    justify-content: flex-start;
    gap: 45px;
  }

  @media screen and (min-width: 450px) {
    .slider-inner {
      width: 3200px;
    }

    .slider-wrap {
      height: 350px;
    }
  }

  @media screen and (min-width: 1000px) {
    .slider-inner {
      width: 4800px;
    }

    .slider-wrap {
      height: 580px;
    }
  }
</style>
